
<div class="local-hand-bottom">
  <div >
    <div ng-repeat="card in game.players[localPlayer.playerID - 1].hand">
      <div ng-class="{selected: card.code === localPlayer.selected.code}" class="card-holder">
        <img ng-click="selectCard($index, localPlayer, game)" class="card  card-in-hand"ng-src="{{card.image}}" alt="{{card.code}}">
      </div>
    </div>
  </div>
</div>

<div class="local-hand-top">
  <div >
    <div ng-repeat="card in game.players[localPlayer.opponent - 1].hand">
      <div  class="card-holder">
        <img  class="card  card-in-hand"ng-src="./Card-back.png" alt="{{card.code}}">
      </div>
    </div>
  </div>
</div>
